*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-image: url(../img/subaru.jpg);
  background-repeat: no-repeat;
  background-size: 2400px;
  position: absolute;
  background-position: 0 -450px;
  font-family: helvetica, sans-serif;
  font-size: 22px;
  line-height: 1.5em;
  margin: 0;
}
#topBar {
  position: relative;
  display: inline-block;
  width: 100%;
  color: white;
  padding-top: 20px;
  padding-left: 40px;
  margin-bottom: 50px;
}
#suitcase img {
  width: 75px;
  filter: invert(100%);
  float: left;
  margin-right: 20px;
}
#companyName {
  padding-top: 10px;
}
#topRight {
  position: absolute;
  top: 55px;
  right: 40px;
  float: right;
}
.heroHead {
  position: relative;
  display: inline-block;
  width:100%;
  font-size: 36px;
  color: white;
  text-align: center;
  padding-left: 350px;
  padding-right: 350px;
}

.heroHead button {
  margin-top: 200px;
  margin-bottom: 200px;
  padding: 20px 20px 20px 20px;
  border-radius: 15px;
  background-color: #a0c18a;
  font-size: 18px
  font-weight: bold;
}

.whiteBarEdge {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100px;
}
.note {
  /*position:relative;*/
  width:50%;
  padding: 1em 1.5em;
  margin: 2em auto;
  color: red;
  background: rgba(255, 255, 255, 0);
}
.note:before {
  content: "";
  position: absolute;
  top: 0;
  right: 48%;
  border-width: 0 0px 50px 50px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 1) rgba(255, 255, 0, 0.0);
}
.note2 {
  /*position:relative;*/
  width:50%;
  padding: 1em 1.5em;
  margin: 2em auto;
  color: red;
  background: rgba(255, 255, 255, 0);
}
.note2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 48%;
  border-width: 0px 50px 50px 0px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 1) rgba(255, 255, 0, 0.0);
}
.whiteFill {
  width: 48%;
  background-color: white;
  margin-top:-107px;
  height: 107px;
}
.whiteFillRight {
  width: 48%;
  background-color: white;
  margin-top:-107px;
  height: 107px;
  float: right;
}
.whiteFillSquare {
  width: 100%;
  background-color: white;
  height: 100px;
  margin-top: -75px;
}
.navBuckets {
  background-color: white;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 20px;
}
#hike {
  /*width: 90px;*/
  /*-webkit-filter: grayscale(10%);*/
  border: 3px solid grey;
  width: 35%;
  padding: 20px;
  border-radius: 100px;
}
#surf {
  /*width: 90px;*/
  /*-webkit-filter: grayscale(10%);*/
  border: 3px solid grey;
  width: 35%;
  padding: 20px;
  border-radius: 100px;
}
/*.circleIcon {
  padding-left: 170px;
  padding-right: 170px;
  padding-bottom: 30px;
}*/
.circle {
    border-radius: 300px/300px;
    border:solid 3px rgba(0,0,0,.5);
    width: 35%;
    padding: 0;
}
#bike {
    width: 35%;
    padding: 10px;
}

.bucket {
  width: 33%;
  padding: 15px;
  display: inline-block;
}

.bucket2 {
  width: 33%;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
.bucket3 {
  width: 33%;
  padding: 15px;
  float: right;
  display: inline-block;
}
